[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-theme-itheme"]
	path = themes/hugo-theme-itheme
	url = https://github.com/floyd-li/hugo-theme-itheme.git
